.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  list-style: none;
}

.page{
  padding: 10px;
  cursor: pointer;
}

.disabled{
  cursor: not-allowed;
}

.active{
  font-weight: bold;
  color: blue;
  text-decoration: underline;
}

.previous{
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.break{
  padding: 10px;
}

.next{
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}

table {
  padding: 8px;
  width: 100%;
  table-layout: fixed;
}

table th,
table td {
  padding: 8px;
  text-align: center;
}
